<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="img/icon.png">

    </head>
    <body>
        <div class="maincontent">
            {{>header}}
            <P>This is some helpful text.</P>
        </div>
        {{>footer}}    
    </body>
</html>
